<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../../../lib/internal/Magento/Framework/ObjectManager/etc/config.xsd">
    <!-- =============== -->
    <!-- Preferences     -->
    <!-- =============== -->
    <preference for="Magento\Framework\View\Page\Config\Renderer" type="Quickshiftin\Assetorderer\View\Page\Config\Renderer" />

    <!-- ======= -->
    <!-- Plugins -->
    <!-- ======= -->
    <type name="Magento\Framework\View\Asset\PropertyGroup">
        <plugin name="Quickshiftin_Assetorderer" type="Quickshiftin\Assetorderer\View\Asset\PropertyGroup" sortOrder="1"/>
    </type>
</config>